

/* Adding pseudo-class (variables) */
:root {
    --primary-color: #b0aeb251;
    --secondary-color: #0099ff;
    --tertiary-color: #39a6b2;
    --grey: #999494;
    --dark: #000000;
    --border-radius: 5px
}

/* removing default browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body * {
    border: #000000 1px solid;
} */

body {
    background-color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    background-image: linear-gradient(to right, #396afc, #2a0845);
    color: #ffffff;
}

header h1 {
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 30%;
    /* flex-direction: row; */
}

.city-search {
    /* display: flex; */

    /* flex: 1; */
    padding: 20px;
    width: 100%;
    margin: 10px 0;
    height: auto;
    /* display: flex;
    justify-content: space-between; */
}
input {
    height: 2vh;
    padding: 1rem;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.2rem;
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 10px 0;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: aliceblue;
}

.btn:hover, .btn-history {
    color: var(--primary);
    background-color: var(--tertiary-color);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

.btn-history {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 10px 0;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    background-color: var(--grey);
}

.current-weather {
    width: 70%;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 5.2vh;
}
.weather-info {
    padding: 10px;
    border: #000000 1px solid;
    margin-bottom: 20px;
}
/* .forecast-info {
    padding: 10px;
} */

p {
    margin: 10px 0;
}

.future-forecast-info {
    display: flex;
    justify-content: space-between;
}

.future-forecast {
    background-color: rgb(73, 83, 113, 0.5);
    color: #ffffff;
    padding: 10px;
    align-items: left;
    justify-content: space-evenly;
    width: 18%;
    /* margin: 5px; */
}